<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <form action="#" method="POST">
        <p>Initial ammount:</p>
        <input type="text" name="initial_amount" id="initial_amount">
        <p>Annual interest rate:</p>
        <input type="text" name="annual_interest_rate" id="annual_interest_rate">
        <p>Years:</p>
        <input type="text" name="years" id="years">
        <p>Compounding frequency:</p>
        <input type="text" name="compounding_frequency" id="compounding_frequency">
        <input type="submit" name="submit" id="submit">
    </form>
</body>
</html>