{% extends "base.html" %}
{% block title %} Home Page {% endblock title %}
{% block content %}
<div class="d-flex vh-100 flex-column justify-content-center align-items-center">
    <p class="h3 mb-2">Welcome to the Home Page</p>
    <br>
    <form action="/square" method="GET" class="mb-2">
        <!--<input type="submit" value="Calculate Square">-->
        <div class="input-group">
            <input class="btn btn-outline-secondary" type="submit" value="Calculate Square">
        </div>
    </form>
    <form action="/cdt" method="GET" class="mb-2">
        <!--<input type="submit" value="CDT Calculator">-->
        <div class="input-group">
            <input class="btn btn-outline-secondary" type="submit" value="CDT Calculator">
        </div>
    </form>
    <form action="/user/<name>" method="GET">
        <!--<input type="submit" value="User">-->
        <div class="input-group">
            <input class="btn btn-outline-secondary" type="submit" value="User">
        </div>
    </form>
</div>
{% endblock content %}